includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/
        - tests/

    level: 9

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - message: '#Call to an undefined method .*::translatable\(\).#'
