includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/
        - tests/

    level: 9
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - message: '#Call to an undefined method .*::translatable\(\).#'
        - message: '#Call to an undefined method .*::optimize\(\).#'
